body {
    background: #242424;
}

.CSH_stack {
    color: #fff;
    text-align: center;
}    





.blue { background: #5abae6; }
.red { background: #d34e4e; }
.green { background: #9dbb19; }
.yellow { background: #f7b358; }

span {
    display: block;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
    text-align: center;
    border-radius: 20px;
}


.div_hor {
    margin: 15px 50px;
}

.cir_graph {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
    .cir_graph {
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .bar_hor {
        opacity: 0;
    }
    
    .cir_graph {
        opacity: 1;
    }
}




.icons {
    position: absolute;
    bottom: 0;
    margin: 5px 20px;
}

.icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #317FFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    margin: 10px;
}

.icons div a {
    color: #fff;
    font-size: 20px;
}





.icons div:nth-child(1) {
    animation: topTobottom_1 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.icons div:nth-child(2) {
    animation: topTobottom_2 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.icons div:nth-child(3) {
    animation: topTobottom_3 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-delay: 300ms;
}

.icons div:nth-child(4) {
    animation: topTobottom_4 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-delay: 400ms;
}


@keyframes topTobottom_1 {
    from {
        transform: translateX(-65px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topTobottom_2 {
    from {
        transform: translateX(-65px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topTobottom_3 {
    from {
        transform: translateX(-65px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes topTobottom_4 {
    from {
        transform: translateX(-65px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.icons div:hover {
    transition: .3s all ease-in-out;
    background: #99E4CA;
}
