body {
    background: #242424;
}

.CSH_stack {
    color: #fff;
    text-align: center;
}    


.icons {
    display: flex;
}

.icons div {    
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    animation: topTobottom 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.icons div a {
    color: #000;
    font-size: 20px;
}

.icons div:nth-child(2) {
    margin-right: 20em;
}

@keyframes topTobottom {
    from {
        transform: translateY(-65px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}









.blue { background: #5abae6; }
.red { background: #d34e4e; }
.green { background: #9dbb19; }
.yellow { background: #f7b358; }

span {
    display: block;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
    text-align: center;
    border-radius: 20px;
}


.div_hor {
    margin: 15px 50px;
}

.cir_graph {
position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
    .cir_graph {
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .bar_hor {
        opacity: 0;
    }

    .cir_graph {
        opacity: 1;
    }
}